<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="ServerIP" value="192.168.101.19" />
	</appSettings>
	<connectionStrings>
		<add name="SIBUK.Properties.Settings.TokoBukuDBConnectionString"
            connectionString="Data Source=RITS;Initial Catalog=TokoBukuDB;User ID=sa;Password=Harits19;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>